// Path
$path-dots-fonts: '~dots.js/dist/fonts';

// Colors
$color-theme: 'light';

$color-background: #f3f3f3;
$color-background-inverted: #424345;
$color-primary: #1d8ac2;
$color-primary-inverted: $color-background;

// Gap
$gap-elements: 16px;
