.hero {
  height: 100vh;

  .center-container {
    top: 35%;
  }
}

.logo {
  width: 15rem;
  display: block;
  margin: 0 auto 5rem auto;

  @media (min-width: @screen-phone) {
    width: 25rem;
  }
}
