.hero {
  position: relative;
  height: 100vh;

  .container-center {
    max-width: 50rem;
    top: 40%;
  }
}

.logo {
  width: 100%;
  display: block;
  margin: 0 auto 5rem auto;

  @media (min-width: @screen-desktop) {
    padding: 0 5rem;
  }
}
